In [1]:
import pandas as pd
import numpy as np
from sklearn import metrics
from statsmodels.formula.api import ols

In [2]:
RDL = pd.read_excel("/Users/moca_lucy/Documents/大學/專題/RDL_AlCu/RDL_biweekly+four-weekly+monthly.xlsx", sheet_name="Monthly", header=0)

In [12]:
traindata = RDL[0:11]
testdata = RDL[11:13]
#traindata

In [13]:
regression = ols(formula='Y~X1+X2+X3+X4+X5+X6+X13+X14+X15', data=traindata)
lm = regression.fit()

In [14]:
#lm.summary()

In [15]:
#lm.params

In [16]:
'''print('Y = ', end='')
for index, value in enumerate(lm.params):
    if index==0:
        print(value, end='')
    else:
        if value>0:
            print('+', value, 'X', index, end='')
        else:
            print(value, 'X', index, end='')'''

"print('Y = ', end='')\nfor index, value in enumerate(lm.params):\n    if index==0:\n        print(value, end='')\n    else:\n        if value>0:\n            print('+', value, 'X', index, end='')\n        else:\n            print(value, 'X', index, end='')"

In [17]:
def mape(y_true, y_pred):
    return np.mean(np.abs((y_true-y_pred)/y_true))*100

In [18]:
def mase(y_true, y_pred):
    y_num = y_true.size
    d = np.abs(np.diff(y_true)).sum()/(y_num-1)
    ret = np.abs(y_true - y_pred)
    return ret.mean()/d

In [19]:
def table(lm, data, w):
    y_pred = round(lm.predict(data), 0)
    y_true = data["Y"]
   # print(y_true[190])
    #print(np.where(np.isnan(y_pred)))
    #print(y_pred, y_true)
    MAE = round(metrics.mean_absolute_error(y_true, y_pred), 4)
    #print(metrics.mean_absolute_error(y_true, y_pred))
    MSE = round(metrics.mean_squared_error(y_true, y_pred), 4)
    RMSE = round(np.sqrt(metrics.mean_squared_error(y_true, y_pred)), 4)
    try:
        MAPE =  str(round(mape(y_true, y_pred), 4))+'%'
    except ZeroDivisionError:
        MAPE = "NAN"
    MASE = round(mase(y_true, y_pred), 4)
    errortype = ["MAE", "MSE", "RMSE", "MAPE", "MASE"]
    error = [MAE, MSE, RMSE, MAPE, MASE]
    #print(error)
    if w == "train":
        error_dict = {" ":errortype, "training":error}
    elif w == "test":
        error_dict = {" ":errortype, "testing":error}
    #error_dict = {" ":errortype, "誤差分析":error}
    pd.options.display.float_format = '{:.4f}'.format
    df = pd.DataFrame(error_dict)
    df = df.set_index(" ").rename_axis(None)
    #print(df)
    return df

df1 = table(lm, traindata, "train")
df1

     training
MAE    0.0909
MSE    0.0909
RMSE   0.3015
MAPE  0.3953%
MASE   0.0168

In [20]:
df2 = table(lm, testdata, "test")
df2

      testing
MAE    2.5000
MSE    8.5000
RMSE   2.9155
MAPE  9.3966%
MASE   0.2778